﻿@model UserRegistration
@{
    ViewData["Title"] = "Register";
}
<div class="container">
    <h1>Register</h1>
    <hr />
    <form asp-action="RegisterForm2" asp-controller="Account" method="post">
        <div class="registerdiv">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group col-sm-12">
                <label class="col-lg-3 control-label" asp-for="Name"></label>
                <br>
                <div class="col-lg-9">
                    <input asp-for="Name" class="form-control" placeholder="First Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-lg-3 control-label" asp-for="Email"></label>
                <br>
                <div class="col-lg-9">
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-lg-3 control-label" asp-for="PhoneNumber"></label>
                <br>
                <div class="col-lg-9">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-lg-3 control-label" asp-for="Password"></label>
                <br>
                <div class="col-lg-9">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-lg-3 control-label" asp-for="ConfirmPassword"></label>
                <br>
                <div class="col-lg-9">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-12 btn-submit">
                <button type="submit" class="btn btn-success">Sign Up</button>

            </div>
        </div>
    </form>
</div>  